/* 
    Created on : Aug 24, 2015, Aug 24, 2015 11:10:53 AM
    Author     : dsylvester
*/
#container {
  box-sizing: border-box;
  width: 100vw;
  border: 1px solid red;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.parentSetting {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
header,
footer,
.mainContent {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/*# sourceMappingURL=../maps/general.css.map */