/* 
    Created on : Aug 24, 2015, Aug 24, 2015 11:10:53 AM
    Author     : dsylvester
*/

#container{
    box-sizing: border-box;
    width: 100vw;
    border: 1px solid red;
    display: flex;
    
}

.parentSetting{
    display: flex;
    width: 100%;
}

header, footer, .mainContent{    
    .parentSetting;
}

